main{
    display:flex;
    justify-content:center;
    margin-bottom: 40px;
}
.forecast{
    width:80%;
    margin-top:40px;

}
.forecast h1{
    text-align:center;
    font-size:48px;
    color:#0f172a;
    margin-bottom:10px;
}

.forecast p{
    text-align:center;
    font-size:24px;
    color:#64748b;
}
table{
    width:100%;
    border-collapse:collapse;
    margin-top:40px;
    background:white;
}
thead{
    background:#f1f5f9;
}

th{
    padding:20px;
    text-align:left;
    color:#0f172a;
    font-size:22px;
}
td{
    padding:25px 20px;
    font-size:22px;
    color:#334155;

    border-bottom:1px solid #e2e8f0;
}
td,
th{
    text-align:center;
}